

.scene {
    width: 100%;
    height: 551px;
   background-position: center center;
   background-size: contain;
   background-repeat: no-repeat;
    background-image: url('../../assets/hero-desk.png');
}


.section {
    margin-top: 100px;
}

.airdrop {
    position: absolute;
    top: -160px;
transform: translateX(0px);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
     background-image: url('../../assets/airdrop.png');
     width: 447px;
height: 447px;
}

.cont {
    position: relative;
}