.btn  {
    border: 4px solid #FBE8A3 !important; 
    border-radius: 31px !important;
    display: flex;
    text-decoration: none;
    width: 142px;
height: 54px;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #ffffff00;
    font-family: 'Pilat Extended';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
   cursor: pointer;
    line-height: 25px;
}