

.content {
    position: relative;
    min-height: 600px;

}

.blockL, .blockR {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 535px;
    height: 456px;
    background-color: #FBF4DD;border-radius: 30px;
    transition: all .6s ease-in-out;
}

.blockR {
    right: 0;
    left: auto;
}

.imgL, .imgR {
    position: absolute;
    bottom: 0;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.textImgs {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
}
.imgL {
    left: 50px;
    bottom: 10px;
    right: auto;
    z-index: 5;
transition: all .6s ease-in-out;

}
.rightB, .leftB {
    transition: all .6s ease-in-out;
}
.imgR {
    right: 0;
    bottom: -0px;
    left: auto;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    background-size: cover;
    transition: all .6s ease-in-out;

    z-index: 5;
}

.textBlock {
    width: 741px;
height: 359px;
z-index: 4;
padding: 45px 40px;
box-sizing: border-box;
background: #FBE288;
box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.25);
border-radius: 30px;
transition: all .6s ease-in-out;
}

.text {
font-family: 'Helvetica';
font-style: normal;
font-size: 18px;
letter-spacing: 1.5px;
line-height: 36px;
text-align: center;
color: #000000;
}
.title {
    background-color: #ffffff00;
    transition: all .6s ease-in-out;
}
.copy {
    cursor: pointer;
}
.copy:hover {
    background-color: #45454540;
}

.copy:focus, .copy:active {
    outline: 2px solid #000;
}
.conetntM {
    display: none;
}

@media (max-width:576px) {
    .content {
        display: none;
    }
    .contentM {
        display: block;
    }
    .textL, .textR {
        height: 381px;
        max-width: 183px;
        padding: 23px 14px;
        background: #FBE288;
        box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        font-family: 'Helvetica';
font-size: 14px;
line-height: 16px;

color: #000000;
    }

    .conetntM {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        gap: 24px;
    }
    .leftB {
        display: grid;
        grid-template-rows: repeat(2, auto);
        gap: 24px;
    }

    .textR {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 26px;
text-align: center;
line-height: 35px;

color: #000000;
    }
    .rightB {
       
            display: grid;
            grid-template-rows: repeat(2, auto);
            gap: 24px;
        
    }


    .leftimg {

    }
    .rightimg,.leftimg {
        background-color: #FBF4DD;
        width: 100%;
        height: 183px;
        box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        background-image: url('./../../assets/svin-kosmo-mb.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .leftimg {
        background-image: url('./../../assets/coin-mb.png');

    }

}.contentM {
    display: none;
}